@use "f-sizes";
@use "colors";
@use "containers";
@use "mixins";


// icons
$racer-icon: 50px;




body {
    margin: 0;
    padding: 0;
    background-image: url("public/license/assets/matt-nelson-dCNGrp_0GyM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        
    #Title {
        text-align: center;
        font-size: $font-size-title;
        color: $primary-color;
    }

    #gameContainer {
        width: $container-width;
        height: $container-height;
        display: flex;
        flex-direction: column;

    #playerContainer {
        @include flexbox-center();
    .player {
        text-align: center;
    }
    }
    
    .theWinnerIs {
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include border-radius(20px);
        color: $primary-color;
        font-size: $font-size-winner;
    }

    .scoreBoard {
        text-align: center;
   }

    .answerBox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .displayArea {
        margin: 0 auto;
        width: $displayArea-width;
        height: $displayArea-height;
        @include flexbox-center();
        color: $primary-color;
        background-color: $secondary-color;
        font-size: $font-size-display;
        @include border-radius(8px);
    }

    #racerContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        @include flexbox-center();
    
    .racer {
        width:$racer-icon;
        height:$racer-icon;
        position: relative;
       @include animation(example, 1s);
    }
   }
  }
}

@keyframes example {
    0% {left: 0; top: 0;}
    20% {left: 20; top: 20%}
    40% {left: 40; top: 40;}
    60% {left: 60; top: 60;}
    100% {left: 100; top: 100}
}