#gameContainer {
    background-color:greenyellow;
}
#playerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: center;
    background-color: gold;
    width: 800px
}

.scoreBoard {
    background-color: cornflowerblue;
    width: 800px;
}
.questions {
    background-color: skyblue;
    width: 800px;
    height: 500px;
}

.scoreCount {
    background-color: darkgoldenrod;
    width: 800px;
}


.displayArea {
    margin: 0 auto;
    color:black;
    border: 5px solid black;
    background-color: purple;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#raceContainer {
    background-color: coral;

    
}