body, html {
    margin: 0;
    padding: 0;
}


#gameContainer {
    background-color:greenyellow;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


#playerContainer {
    display: flex;
    
    justify-content:space-around;
    
    background-color: gold;
    
    
}

.player {
    text-align: center;
}

.scoreBoard {
    background-color: cornflowerblue;
    text-align: center;
    
}
.questions {
    background-color: skyblue;
    text-align: center;
    
}

.scoreCount {
    background-color: darkgoldenrod;
    
}


.displayArea {
    margin: 0 auto;
    color:black;
    border: 5px solid black;
    background-color: purple;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#raceContainer {
   flex: 1;
   display: flex;
   flex-direction: column;
   background-color: coral;
   
}

#racer {
    width: 50%;
    display: flex;
    border: 2px solid blueviolet;
    align-items: center;
    justify-content: center;
    
    

}

.racer {
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    
}

@keyframes example {
    0% {left: 0; top: 0;}
    20% {left: 20; top: 20%}
    40% {left: 40; top: 40;}
    60% {left: 60; top: 60;}
    100% {left: 100; top: 100}
} 
