body, html {
    margin: 0;
    padding: 0;
}


#gameContainer {
    background-color:greenyellow;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


#playerContainer {
    display: flex;
    flex-wrap: none;
    justify-content:space-between;
    align-content: center;
    background-color: gold;
    width: 800px
}

.scoreBoard {
    background-color: cornflowerblue;
    width: 800px;
}
.questions {
    background-color: skyblue;
    width: 800px;
    height: 500px;
}

.scoreCount {
    background-color: darkgoldenrod;
    width: 800px;
}


.displayArea {
    margin: 0 auto;
    color:black;
    border: 5px solid black;
    background-color: purple;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#raceContainer {
   flex: 1;
   display: flex;
   background-color: coral;
}

#raceContainer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#raceContainer img {
    width: 50px;
    height: 50px;

}