// @mixins
@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin flexbox-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin animation($name, $duration) {
    animation-name: $name;
    animation-duration: $duration;
}
